<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Plaid Connector for Google Sheets</title>
<link rel="stylesheet" href="https://threads.plaid.com/threads.css">

<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main class="main">
    <label>Access Token <input id="access_token"/></label>
    <div class="grid">
      <div class="grid__column grid__column--is-twelve-columns">
        <div id="banner" class="everpresent-content">
          <h1 class="everpresent-content__heading">Plaid Connector for Google Sheets</h1>
          <p id="intro" class="everpresent-content__subheading">
            This app will let you get Plaid credentials that you can then place into your Google Sheet for easy transaction downloading.
          </p>
          <p id="steps" class="everpresent-content__subheading">
           Success! You just created an Item by linking your account.
          </p>
        </div>

        <div id="container" class="initial-view">
          <p class="initial-view__description">
            Click the button below to open a list of Institutions. After you select one, you’ll be guided through an authentication process. Upon completion, a public_token will be passed back to the server and exchanged for access_token.
          </p>

          <button id="link-btn" class="button button--is-primary">Connect new Account with Plaid</button>
          <button id="update-btn" class="button button--is-primary">Update existing account</button>
        </div>

        <div id="app" class="connected-view">
          <div class="item-overview">
            <div class="item-overview__column">
              <h3 class="item-overview__heading">item_id</h3>
              <p class="item-overview__id" id="item_id">san.asjsansakjsakjasjksajkas</p>
            </div>
            <div class="item-overview__column">
              <h3 class="item-overview__heading">access_token</h3>
              <p class="item-overview__id" id="access_token">••••••••hsakjsl</p>
            </div>

            <div style="clear: both"></div>
          </div>

          <p>Now that you have an access_token you can make all of the following API requests:</p>

          <div class="box">
            <h3 class="box__heading">Products</h3>

            <!--Transactions -->
            <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Transactions</div>
                <div class="item-data-row__endpoint">/transactions/get</div>
                <div class="item-data-row__description">Retrieve transactions for credit and depository accounts.</div>
              </div>
              <div class="item-data-row__right">
                <button id="get-transactions-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>
              <div class="item-data-row__response">
                <table><tbody id="get-transactions-data"></tbody></table>
              </div>
            </div>
          </div>

          <div class="box">
            <h3 class="box__heading">Item management</h3>

            <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__endpoint">/item/get</div>
                <div class="item-data-row__description">Retrieve information about an Item, like the institution, billed products, available products, and webhook information.</div>
              </div>

              <div class="item-data-row__right">
                <button id="get-item-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>

              <div class="item-data-row__response">
                <table><tbody id="get-item-data"></tbody></table>
              </div>
            </div>

            <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__endpoint">/accounts/get</div>
                <div class="item-data-row__description">Retrieve high-level information about all accounts associated with an Item.</div>
              </div>

              <div class="item-data-row__right">
                <button id="get-accounts-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>

              <div class="item-data-row__response">
                <table><tbody id="get-accounts-data"></tbody></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
  (function($) {
    // Handles redirect from the oauth response page for the oauth flow.
    if (document.referrer != null && document.referrer.includes('http://localhost:5000/oauth-response.html')) {
      $('#container').fadeOut('fast', function() {
        $('#item_id').text('{{ item_id }}');
        $('#access_token').text('{{ access_token }}');
        $('#intro').hide();
        $('#app, #steps').fadeIn('slow');
      });
    }

    var products = '{{ plaid_products }}'.split(',');

    var linkHandlerCommonOptions = {
      apiVersion: 'v2',
      clientName: 'Plaid Quickstart',
      env: '{{ plaid_environment }}',
      product: products,
      key: '{{ plaid_public_key }}',
      countryCodes: '{{ plaid_country_codes }}'.split(','),
    };
    var oauthRedirectUri = '{{ plaid_oauth_redirect_uri }}';
    if (oauthRedirectUri != '') {
      linkHandlerCommonOptions.oauthRedirectUri = oauthRedirectUri;
    }
    var oauthNonce = '{{ plaid_oauth_nonce }}';
    if (oauthNonce != '') {
      linkHandlerCommonOptions.oauthNonce = oauthNonce;
    }

    var accessToken = qs('access_token');
    if (accessToken != null && accessToken != '') {
        $.post('/set_access_token', {
          access_token: accessToken
        }, function(data) {
          $('#item_id').text(data.item_id);
          $('#access_token').text(accessToken);
          $('#container').fadeOut('fast', function() {
            $('#intro').hide();
            $('#app, #steps').fadeIn('slow');
          });
        });
    }

    $('#link-btn').on('click', function(e) {
      var create_handler = Plaid.create({
        ...linkHandlerCommonOptions,
        // webhook: 'https://your-domain.tld/plaid-webhook',
        onSuccess: function(public_token) {
          $.post('/get_access_token', {
            public_token: public_token
          }, function(data) {
            $('#container').fadeOut('fast', function() {
              $('#item_id').text(data.item_id);
              $('#access_token').text(data.access_token);
              $('#intro').hide();
              $('#app, #steps').fadeIn('slow');
            });
          });
        },
      });
      create_handler.open();
    });

    $('#update-btn').on('click', function(e) {
      $.post(
        '/get_public_token',
        {
          accessToken: $("#access_token").val()
        },
        function(response){
          debugger;
          var update_handler = Plaid.create({
            ...linkHandlerCommonOptions,
            // webhook: 'https://your-domain.tld/plaid-webhook',
            token: response['public_token'],
            onSuccess: function(public_token) {
              debugger;
              $.post('/get_access_token', {
                public_token: public_token
              }, function(data) {
                $('#container').fadeOut('fast', function() {
                  $('#item_id').text(data.item_id);
                  $('#access_token').text(data.access_token);
                  $('#intro').hide();
                  $('#app, #steps').fadeIn('slow');
                });
              });
            },
            onEvent: function(eventName, metadata){
              console.log(eventName);
              console.log(metadata)
            }
          });
          update_handler.open();
        }
      )
    });

    $('#get-accounts-btn').on('click', function(e) {
      $.get('/accounts', function(data) {
        $('#get-accounts-data').slideUp(function() {
          if (data.error != null) {
            displayError(this, data.error);
            return;
          }
          var accountData = data.accounts;
          var html = '<tr><td><strong>Name</strong></td><td><strong>Balances</strong></td><td><strong>Subtype</strong></td><td><strong>Mask</strong></td></tr>';
          accountData.accounts.forEach(function(account, idx) {
            html += '<tr>';
            html += '<td>' + account.name + '</td>';
            html += '<td>$' + (account.balances.available != null ? account.balances.available : account.balances.current) + '</td>';
            html += '<td>' + account.subtype + '</td>';
            html += '<td>' + account.mask + '</td>';
            html += '</tr>';
          });

          $(this).html(html).slideDown();
        });
      });
    });

    $('#get-item-btn').on('click', function(e) {
      $.get('/item', function(data) {
        $('#get-item-data').slideUp(function() {
          if (data.error) {
            displayError(this, data.error);
          } else {
            var html = '';
            html += '<tr><td>Institution name</td><td>' + data.institution.name + '</td></tr>';
            html += '<tr><td>Billed products</td><td>' + data.item.billed_products.join(', ') + '</td></tr>';
            html += '<tr><td>Available products</td><td>' + data.item.available_products.join(', ') + '</td></tr>';

            $(this).html(html).slideDown();
          }
        });
      });
    });

    $('#get-transactions-btn').on('click', function(e) {
      $.get('/transactions', function(data) {
        if (data.error != null && data.error.error_code != null) {
          // Format the error
          var errorHtml = '<div class="inner"><p>' +
           '<strong>' + data.error.error_code + ':</strong> ' +
           (data.error.display_message == null ? data.error.error_message : data.error.display_message)  + '</p></div>';

          if (data.error.error_code === 'PRODUCT_NOT_READY') {
            // Add additional context for `PRODUCT_NOT_READY` errors
            errorHtml += '<div class="inner"><p>Note: The PRODUCT_NOT_READY ' +
             'error is returned when a request to retrieve Transaction data ' +
             'is made before Plaid finishes the <a href="https://plaid.com/' +
             'docs/quickstart/#transaction-data-with-webhooks">initial ' +
             'transaction pull.</a></p></div>';
          }
          // Render the error
          $('#get-transactions-data').slideUp(function() {
            $(this).slideUp(function() {
              $(this).html(errorHtml).slideDown();
            });
          });
        } else {
          $('#get-transactions-data').slideUp(function() {
            var html = '<tr><td><strong>Name</strong></td><td><strong>Amount</strong></td><td><strong>Date</strong></td></tr>';
            data.transactions.transactions.forEach(function(txn, idx) {
              html += '<tr>';
              html += '<td>' + txn.name + '</td>';
              html += '<td>$' + txn.amount + '</td>';
              html += '<td>' + txn.date + '</td>';
              html += '</tr>';
            });

            $(this).slideUp(function() {
              $(this).html(html).slideDown();
            });
          });
        }
      });
    });

    $('#get-balance-btn').on('click', function(e) {
      $.get('/balance', function(data) {

        $('#get-balance-data').slideUp(function() {
          if (data.error != null) {
            displayError(this, data.error);
            return;
          }
          var balanceData = data.balance;
          var html = '<tr><td><strong>Name</strong></td><td><strong>Balance</strong></td><td><strong>Subtype</strong></td><td><strong>Mask</strong></td></tr>';
          balanceData.accounts.forEach(function(account, idx) {
            html += '<tr>';
            html += '<td>' + account.name + '</td>';
            html += '<td>$' + (account.balances.available != null ? account.balances.available : account.balances.current) + '</td>'
            html += '<td>' + account.subtype + '</td>';
            html += '<td>' + account.mask + '</td>';
            html += '</tr>';
          });

          $(this).html(html).slideDown();
        });
      });
    });

  })(jQuery);

function qs(key) {
    key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
    var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
    return match && decodeURIComponent(match[1].replace(/\+/g, " "));
}

function displayError(element, error) {
  var html = `
    <div class="alert alert-danger">
      <p><strong>Error Code:</strong> ${error.error_code}</p>
      <p><strong>Error Type:</strong> ${error.error_type}</p>
      <p><strong>Error Message:</strong> ${error.display_message == null ? error.error_message : error.display_message}</p>
      <div>Check out our <a href="https://plaid.com/docs/#errors-overview">errors documentation</a> for more information.</div>
    </div>`;
  console.log(element);
  console.log(html);
  $(element).html(html).slideDown();
}

  </script>
</body>
</html>
